#container {
  background-color: #D0B8E8;
  width: 92%;
  overflow: hidden;
  margin: auto;
  padding-bottom: 40%;
  border-radius: 14px;
}

.aba{
  //background-color: #6EE8B9;
  border-radius: 8px;
  border: 2px solid #569191;
  margin: 3px;
  background: linear-gradient(#EAB9B9, #6EE8B9);
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10 {
  float: left;
  padding: 1%;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

.col_1 {
  width: 8%;
}

.col_2 {
  width: 18%;
}

.col_3 {
  width: 28%;
}

.col_4 {
  width: 38%;
}

.col_5 {
  width: 48%;
}

.col_6 {
  width: 58%;
}

.col_7 {
  width: 68%;
}

.col_8 {
  width: 78%;
}

.col_9 {
  width: 88%;
}

.col_10 {
  width: 98%;
}

h1{
  text-align: center;
}

h4{
  text-align: center;
}

h5{
  text-align: center;
}

.header{
  background-color: #E8B716;
  //padding-bottom: 100%;
}

.notifications{
  background-color: #8BE83E;
  border-radius: 14px;
  padding-bottom: px;
}

.email{
  background-color: #E86067;
  border-radius: 14px;
  padding-bottom: 5%;
}

.msg{
  background: url("grass.jpg");
  //background-size: 10% 10%;
  background-repeat: repeat;
  color: white;
  padding: 5%;
  border-radius: 10px;
}

.teste{
  text-align: right;
}